<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/myPage.css}" type="text/css" />
</th:block>
<div layout:fragment="content" class="layout">
	<div th:insert="fragments/myPageMemberInfo::myPageMemberInfo"></div>
	
	<section class="container_custom spad d-flex">
		<div class="side_bx">
			<div th:insert="fragments/myPageSideBar::myPageSideBar"></div>
		</div>
		<div class="content_bx po_ab align_min">
			<input type="hidden" th:value="${loginOk}" id="loginOk">
		<div class="right_contents">
			<span class="cart_sp">나의 상품 후기</span>
			<div class="page-sorting order font-mss">
				<a href="/">home</a>
				<span><i class="ic-14-line-arrow-right"></i></span>
				<span class="current-page">마이페이지(나의 상품 후기)</span>
			</div>
		</div>
		<section>
			<div class="dLBPEv">
				<ul class="state">
				<input type="hidden" id="data" th:value="${myPageSerchDto.data}">
					<li th:classappend="${myPageSerchDto.data == '일반'} ? 'is-active'"><a onclick="goList('일반','item_review')">일반후기 [[${countMap['일반']}]]</a></li>
					<li th:classappend="${myPageSerchDto.data == '포토'} ? 'is-active'"><a onclick="goList('포토','item_review')">포토후기 [[${countMap['포토']}]]</a></li>
				</ul>
				<ul class="n-info-txt">
                <li>상품 후기는 일반 후기시 500포인트, 포토 후기시 1000포인트 지급 됩니다.</li>
                <li>작성한 리뷰는 상품 상세페이지, 마이페이지(나의 상품 후기)에서 확인하실 수 있습니다.</li>
                <li>포인트 지급이 완료된 이후 후기 삭제를 원하실 경우 지급된 포인트가 차감 됩니다.</li>
                <li>현재 보유 포인트 보다 차감될 포인트가 많은 경우, 보유 포인트가 마이너스 처리됩니다.</li>
            </ul>
				
			<div class="date_check_box">
                    <div class="date_check_list">
                        <button type="button" value="0" >오늘</button>
                        <button type="button" value="7" >7일</button>
                        <button type="button" value="15" >15일</button>
                        <button type="button" value="30" >1개월</button>
                        <button type="button" value="90" >3개월</button>
                        <button type="button" class="oneYear" value="365" >1년</button>
                    </div>
                    <div class="date_check_calendar">
                        <input type="date" class="anniversary js_datepicker st_date" th:value="${myPageSerchDto.startTime}">
                        <span class="ml-1 mr-1"> ~ </span>  
                        <input type="date" class="anniversary js_datepicker end_date" th:value="${myPageSerchDto.endTime}">
                    </div>
                    <button type="button" class="btn_date_check ml-1" onclick="dynamicSearch('item_review')"><em>조회</em></button>
            	</div>
            	<table class="table_basic cart_table n-cart-table">
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<thead>
						<tr class="cart-header">
							<th scope="col">상품정보</th>
							<th scope="col">내용</th>
						</tr>
					</thead>
					<tbody th:if="${!reviewList.isEmpty}">
					<th:block th:each="review , status:${reviewList}">
					<tr class="cart-group">
							<td colspan="9" class="cart_cont">
								<table class="table_basic cart_table">
									<colgroup>
										<col width="30%">
										<col width="70%">
									</colgroup>
									<tbody>
									<tr class="cart_list_no">
										<td class="item_info">
											<div class="connect_img">
												<a class="img-block" href="/item/1">
                                                    <img th:src="${review.imgUrl}" th:alt="${review.itemNm}">
												</a>																																					
											</div>
											<div class="article_info connect_info">
												<p class="list_info">
													<a href="/item/1" class="itemNm">[[${review.itemNm}]]</a>
												</p>
											</div>
										</td>
										<td class="review_info">
                							<div class="review-reg">
                            					[[${T(java.time.format.DateTimeFormatter).ofPattern('yyyy.MM.dd hh:mm').format(review.regTime)}]]
                            					<p>
													<span onclick="itemReviewModi(this)" th:attr="data-review-id=${review.itemReviewId}">수정</span>
													<span onclick="itemReviewDelete(this)" th:attr="data-review-id=${review.itemReviewId}">삭제</span>
												</p>
                       						</div>
											<div class="review-list__rating-wrap">
                        						<span class="review-list__rating">
                           							<span class="review-list__rating__unit">
                                						<span class="review-list__rating__active"  th:style="'width:' + (${review.rating} * 20) + '%'"></span>
                           							</span>
                       							 </span>
                							</div>
                							<div class="review-content">
												   <p class="review-content-text" th:utext="${#strings.replace(review.content, '\n', '<br>')}"></p>
											   </div>
                       						<div th:if="${!review.itemReviewImgList.isEmpty}"
                       						 class="review-content-photo" th:attr="data-review-id=${review.itemReviewId}">
                       							<div class="mt-2 mb-3 review-content-photo__wrap">
                               					 	<ul class="review-content-photo__list">
														<th:block th:each="reviewImg , status:${review.itemReviewImgList}">
                                       		 				<li class="review-content-photo__item" th:style="'background-image: url(' + ${reviewImg.imgUrl} + ');'" th:attr="data-review-id=${review.itemReviewId}">
                                            					<img th:src="${reviewImg.imgUrl}" alt="리뷰이미지">
                                        					</li>
                                        				</th:block>
                                					</ul>
                           						 </div>
											</div>
                       						<th:block th:if="${review.itemReviewAnswer != null}">
											<div class="review-answer-bt">
												<p>답변 닫기</p>
											</div>
											<div class="review-answer">
												<p class="answer_info">
													<span class="answer_adname">이젠스토어 관리자 </span>
													<span class="answer_date">[[${T(java.time.format.DateTimeFormatter).ofPattern('yyyy.MM.dd hh:mm').format(review.itemReviewAnswer.regTime)}]]</span>
												</p>
												<p class="answer_content">
												<span>안녕하세요. 이젠 스토어 고객센터입니다.<br></span>
												<span th:utext="${#strings.replace(review.itemReviewAnswer.content, '\n', '<br>')}"></span>
												<span>이용해주셔서 항상 감사합니다.</span>
												</p>
											</div>
											   </th:block>
											
										</td>
										
									</tr>
							</tbody>
								</table>
							</td>
						</tr>
					</th:block>
				</tbody>
				</table>
				<div th:if="${!reviewList.isEmpty}" class="style__PagingWrapper-b83qno-6 bYnXQa" 
							th:with="start=${(reviewList.number/maxPage)*maxPage + 1}
			    ,end=(${(reviewList.totalPages == 0) ? 1 : (start + (maxPage - 1) < reviewList.totalPages ? start + (maxPage - 1) : reviewList.totalPages)})">

							<button class="style__PagePrevButton-b83qno-8 loxVUo"
								th:classappend="${reviewList.first}?'bt_hd'"
								th:onclick="'javascript:itemReivewPage(' + ${reviewList.number - 1} +')'">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									fill="none" viewBox="0 0 19 18">
									<path stroke="#000" d="m14.953 6.469-5.07 5.062L4.828 6.47"></path>
								</svg>
							</button>
							<ul>
								<a offset="0" class="style__PageNumber-b83qno-7"
									th:each="page: ${#numbers.sequence(start, end)}"
									th:classappend="${reviewList.number eq page-1}?'hIVTuk':'iBHoeR'"
									th:onclick="'javascript:itemReivewPage(' + ${page - 1} +')'"> <span>[[${page}]]</span>
								</a>
							</ul>
							<button class="style__PageNextButton-b83qno-9 gCfLmH"
								th:classappend="${reviewList.last}?'bt_hd'"
								th:onclick="'javascript:itemReivewPage(' + ${reviewList.number + 1} +')'">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									fill="none" viewBox="0 0 19 18">
							        <path stroke="#000"
										d="m14.953 6.469-5.07 5.062L4.828 6.47"></path>
					            </svg>
							</button>
						</div>
				<div class="null_box" th:if="${reviewList.isEmpty}">등록된 후기가 없습니다.</div>
						
			</div>
		</section>
		</div>
	</section>
	
</div>

<th:block layout:fragment="script">
	<script th:src="@{/js/myPage/global/global.js}"></script>
	<script th:src="@{/js/myPage/global/date.js}"></script>
	<script th:src="@{/js/myPage/itemReviewAndInq/myItemReview.js}"></script>
</th:block>


</html>