<footer class="footer-section" th:fragment="footer">
	<div class="container_custom">
			<div class="footer" >
				<div class="f-ct" style="padding-top: 15px;">
					<div class="fct-2">
						<div class="fct2-1">
							<div style="color: white;" class="footer_address">주소 : 인천광역시 남동구 인주대로 593 엔타스빌딩
								12층 (우 : 21558)</div>
							<div style="color: white;" class="footer_service">
								서비스 이용문의 : 010-1234-1234 | 이메일 : <a
									href="mailto:abcdefg@gmail.com" style="color: white;">ezen@gmail.com</a>
							</div>
						</div>
						<div class="fct2-2">
							<div class="fct22-i">
								<a href="https://github.com/foxgeun/recipe"></a>
							</div>
							<div class="fct22i-under">Copyright © 이젠해먹자. All Rights
								Reserved</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</footer>
</html>