<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" class="header">
	
	<nav
		class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block admin_bar"
		 sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		<div class="container text-light">
				<div class="align-self-center collapse navbar-collapse flex-fill  
				d-lg-flex justify-content-lg-between admin_box"
				     >
					<span class="me-3">[ 관리자 아이디로 로그인중입니다 ]</span>
					
					<a href="/admin/memberMng" >관리자페이지로 <span  class="admin_link"> >>  </span> </a>
					
				</div>
		</div>
	</nav>
	
	<nav
		class="navbar navbar-expand-lg navbar-light header_nav_top p_box">
		<div class="container_custom d-flex align-items-center" style="justify-content: space-between;">

			<div>

				<div class="ezen_logo_box d-flex">
					<a class="d_simbol" href="/"> <img alt="로고심볼" src="/img/이젠 해먹자.svg"
						class="ezen_logo">
					</a>
					<a href="/" class="d_logo"> <img alt="로고심볼" src="/img/이젠 해먹자 (1).svg"
						class="ezen_logo">
					</a>
				</div>

			</div>
			<div class="d-flex justify-content-end">

				<ul class="nav navbar-nav d-flex b_ll">
					<li class="nav-item ul_li"><a class="nav-a" href="/category">레시피</a>
					</li>
					<li class="nav-item ul_li"><a class="nav-a"
						style="color: RGB(244, 74, 93);" href="/item/total">이젠스토어</a></li>
				</ul>
				
					<div class="d-flex justify-content-end">
						
						<div class="styles__UserActions-s29m5c-6 gAgCZS">
						<a href="/cart">
							<div class="styles__UserAction-s29m5c-7 gXfCDw">
								<div class="styles__UserActionIcon-s29m5c-8 fCBSwg"><svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M22 7.5H5.875L7.2 12.625H20L22 7.5Z" fill="#616161" stroke="#616161"></path>
									  <path d="M10 19a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM19 19a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" fill="#616161"></path>
									  <path d="M10 19a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM19 19a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" stroke="#616161"></path>
									  <path d="M2 4h3l3 12h12" stroke="#616161" stroke-width="2"></path>
									  </svg>
									  <span class="styles__CartAccent-s29m5c-10 faiWcr" id="cartCount" sec:authorize="isAuthenticated()" th:if="${cartCount} != 0 ">[[${cartCount}]]</span>
									  </div>
									  </div>
									  </a>
									  <a onclick="myPageBox()" sec:authorize="isAuthenticated()" class="styles__UserAction-s29m5c-7 gXfCDw user_icon" style="margin-left: 10px;" >
										  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											  <path d="M17 7A5 5 0 1 1 7 7a5 5 0 0 1 10 0ZM7.39 12.5s1.766 1.816 4.61 1.816c2.844 0 4.61-1.816 4.61-1.816l.242.234c1.515 1.461 2.66 3.271 3.135 7.253.13 1.09-.705 2.013-1.741 2.013H5.753c-1.036 0-1.87-.923-1.74-2.013.475-3.982.698-5.485 3.21-7.366.064-.048.166-.121.166-.121Z" fill="#616161"></path>
											  </svg>
											  <span class="styles__UserActionText-s29m5c-9 eJzlAX">마이페이지</span>
									</a>
							  		<div class="header_popup" sec:authorize="isAuthenticated()">
										<div class="MypagePopup__PopupLayout-sc-5vnpla-0 gqjZqt">
											<div class="MypagePopup__Frame-sc-5vnpla-2 fARqTM">
												<div class="MypagePopup__Profile-sc-5vnpla-3 cWqkHj">
													<img th:src="${imgUrl}" alt="회원이미지">
													<div class="MypagePopup__ProfileMeta-sc-5vnpla-4 gPCGZR">
														<p class="MypagePopup__ProfileName-sc-5vnpla-5 fZmXjy">[[${nickname}]]</p>
														<p class="MypagePopup__TabText-sc-5vnpla-9 iZVYRA">포인트<span class="MypagePopup__TabTextStrong-sc-5vnpla-10 hcDOtb">[[${#numbers.formatInteger(point , 0, 'COMMA')}]]</span>
														</div></div>
														<nav class="MypagePopup__Nav-sc-5vnpla-13 kMCARI">
															<div class="MypagePopup__TabList-sc-5vnpla-7 gRvlpR">
															</div>
														<a href="/myPage"><div class="MypagePopup__LinkText-sc-5vnpla-14 fNkHdX"><p class="MypagePopup__Text-sc-5vnpla-15 JkMTy">마이페이지</p></div></a>
														</nav><span class="MypagePopup__Logout-sc-5vnpla-16 hiYkve"><a href="/members/logout">로그아웃</a>
														</span></div></div></div>		
									
									
									 <a href="/members/login" sec:authorize="isAnonymous()" class="styles__UserAction-s29m5c-7 gXfCDw user_icon" style="margin-left: 16px;" >
										  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											  <path d="M17 7A5 5 0 1 1 7 7a5 5 0 0 1 10 0ZM7.39 12.5s1.766 1.816 4.61 1.816c2.844 0 4.61-1.816 4.61-1.816l.242.234c1.515 1.461 2.66 3.271 3.135 7.253.13 1.09-.705 2.013-1.741 2.013H5.753c-1.036 0-1.87-.923-1.74-2.013.475-3.982.698-5.485 3.21-7.366.064-.048.166-.121.166-.121Z" fill="#616161"></path>
											  </svg>
											  <span class="styles__UserActionText-s29m5c-9 eJzlAX">로그인/회원가입</span>
									</a>
					     </div>
						
		<!--		<a href="/members/login" class="mr-2 nav_member_category" sec:authorize="isAnonymous()">로그인</a> 
				<a href="/members/agree" class="mr-2 nav_member_category" sec:authorize="isAnonymous()">회원가입</a> 
				<a href="/myPage" class="nav_member_category" sec:authorize="isAuthenticated()">마이페이지</a>-->
			</div>
				
			</div>

			

		</div>
	</nav>

	

	<div class="modal fade bg-white" id="templatemo_search" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="w-100 pt-1 mb-5 text-right">
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form action="" method="get"
				class="modal-content modal-body border-0 p-0">
				<div class="input-group mb-2">
					<input type="text" class="form-control" id="inputModalSearch"
						name="q" placeholder="Search ...">
					<button type="submit"
						class="input-group-text bg-success text-light">
						<i class="fa fa-fw fa-search text-white"></i>
					</button>
				</div>
			</form>
		</div>
	</div>

<script>
	
	function myPageBox() {
  if ($(".header_popup").css("display") === 'block') {
    $(".header_popup").css("display", "none");
  } else {
    $(".header_popup").css("display", "block");
  }
}
	
	
</script>


</header>
</html>