<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div th:fragment="myPageSideBar" class="myPageSideBar">
			<div>
			<p class="page-side">MY PAGE</p>
			</div>
					<div class="list-group list-group-light">
						<div>
							<ul class="mypage-list">
								<li class="mypage-list-li-f">레시피 관리</li>
								<li class="mypage-list-li recipe"><a>- 나의 레시피</a></li>
								<li class="mypage-list-li recipeBookMark" ><a>- 찜한 레시피</a></li>
							</ul> 
							<ul class="mypage-list">
								<li class="mypage-list-li-f">주문 관리</li>
								<li class="mypage-list-li order"><a href="/myPage/order">- 주문내역/배송조회</a></li>
							</ul> 
							<ul class="mypage-list">
								<li class="mypage-list-li-f">레시피 후기/문의 관리</li>
								<li class="mypage-list-li recipeInq"><a>- 나의 레시피 문의</a></li>
								<li class="mypage-list-li recipeReview"><a>- 나의 레시피 후기</a></li>
							</ul> 
							<ul class="mypage-list">
								<li class="mypage-list-li-f">상품 후기/문의 관리</li>
								<li class="mypage-list-li itemInq"><a href="/myPage/itemInq">- 나의 상품 문의</a></li>
								<li class="mypage-list-li itemReview"><a href="/myPage/itemReview">- 나의 상품 후기</a></li>
							</ul> 
							<ul class="mypage-list">
								<li class="mypage-list-li-f">혜택관리</li>
								<li class="mypage-list-li point"><a href="/myPage/point">- 포인트</a></li>
							</ul> 
							<ul class="mypage-list">
								<li class="mypage-list-li-f">회원관리</li>
								<li class="mypage-list-li follow"><a a href="/myPage/follow?data=follower">- 나의 팔로우</a></li>
								<li class="mypage-list-li memberInfo"><a href="/myPage/memberInfo">- 나의 회원 정보</a></li>
							</ul> 
						</div>
					</div>
	</div>
</html>