<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/errorPage.css}" type="text/css">
</head>
<body>
	<div class="error-network-wrap">
    <h1 class="error-network-logo"></h1>
    <div class="error-network-text">
        <strong>유효하지 않은 페이지 입니다.</strong>
        <p>잠시 후 다시 이용해 주세요.</p>
        <a class="btn" href="/">홈으로</a>
        <a class="link" href="javascript:void(0)" onclick="history.back();">이전 페이지</a>
    </div>
</div>
</body>
</html>