@charset "UTF-8";

* {
	font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif" !important;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    color: #000;
    background-color: #F7F7F7;
}


a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, input, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

html, body, h1, h2, h3, h4, h5, h6, ol, ul, div, li, dl, dt, dd, form, iframe, p, a, span, blockquote, i, figure, fieldset, img, table, th, td, input, textarea, select, caption, button, pre, small {
    margin: 0;
    padding: 0;
    outline: none;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block;
}

.n-qa-write-pop {
    background-color: white;
    border: 1px solid #ddd;
    padding: 0 20px;
    min-width: 600px;
    box-sizing: border-box;
}

.n-qa-write-pop header {
    padding: 20px 0;
}

.n-qa-write-pop .qa-product {
    position: relative;
    padding: 0 0 5px 90px;
    min-height: 96px;
    margin-bottom: 10px;
     border-bottom: 1px solid rgb(241, 241, 241);
}

.n-qa-write-pop .qa-product .qa-product-img {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 96px;
}

.n-qa-write-pop .qa-product .qa-product-img img {
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 100%;
    transform: translateY(-50%);
}

img {
    border: none;
    line-height: 0;
    vertical-align: top;
}

.n-qa-write-pop .qa-product .qa-product-info {
    align-items: center;
    height: 80px;
    display: flex;
}

.n-qa-write-pop .qa-product .qa-product-info p.qa-info-brand {
    color: #000;
}
.n-qa-write-pop .qa-product .qa-product-info p {
    font-size: 14px;
    line-height: 21px;
}

.n-qa-write-pop .qa-product .qa-product-info p.qa-info-name {
    font-weight: bold;
}

.txt_origin_price {
    color: #b2b2b2;
    text-decoration: line-through;
}

.n-qa-write-pop .qa-product .qa-product-info p {
    font-size: 14px;
    line-height: 21px;
}

.n-qa-write-pop .qa-write-table {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

table, th, td {
    border-spacing: 0;
}
table {
    border-collapse: collapse;
}

.n-qa-write-pop .qa-write-table th {
    text-align: left;
    padding: 10px 0;
    width: 110px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.n-qa-write-pop .qa-write-table td.qa-type-area {
    height: 30px;
    align-items: center;
    display: flex;
    line-height: 30px;
    overflow: hidden;
}

.n-qa-write-pop .qa-write-table td {
    text-align: left;
    padding: 10px 0 10px 12px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.n-hidden, .n-radio-tab input, .n-check, .n-radio {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
input, textarea, select {
    color: #000;
    vertical-align: middle;
    border: 0;
    border-radius: 0;
    outline: none;
}

.n-qa-write-pop .qa-write-table td.qa-type-area label {
    float: left;
    margin-right: 20px;
}
.n-qa-write-pop .qa-write-table td label {
	cursor: pointer;
	font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}
.n-check + label, .n-radio + label {
    display: inline-block;
    line-height: 23px;
    padding-left: 26px;
    position: relative;
}

.n-check + label:before, .n-radio + label:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    background: #F7F7F7;
    border-radius: 2px;
    position: absolute;
    left: 3px;
    top: 2px;
    color: white;
}

.n-check + label::after, .n-radio + label::after {
    content: "";
    display: none;
    position: absolute;
    left: 8px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.n-check:checked + label::after, .n-radio:checked + label::after {
    display: block;
}

.n-qa-write-pop .qa-write-table td.qa-type-area {
    overflow: hidden;
}

.n-qa-write-pop .qa-write-table td .n-input {
    width: 100%;
}

.n-input {
    height: 32px;
    padding: 5px 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.n-qa-write-pop .qa-write-table td.qa-title-area .n-input {
    width: 288px;
    box-sizing: border-box;
}

.n-qa-write-pop .qa-write-table td.qa-title-area label {
    margin-left: 11px;
}

.n-qa-write-pop .qa-write-table td.qa-subject-area textarea {
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 13px;
    line-height: 21px;
    box-sizing: border-box;
}


.n-info-txt {
    line-height: 1.5;
    font-size: 13px;
    padding-top: 20px;
}

.n-info-txt > li:first-of-type {
    margin-top: 0;
}

.str-custom{
	font-size: 13px;
    font-weight: bold;
    color: black !important;
}

.n-info-txt > li {
    margin-top: 5px;
    color: #777777;
    padding-left: 8px;
    position: relative;
    line-height: 1.7;
}

.n-info-txt > li {
    margin-top: 5px;
    color: #777777;
    padding-left: 8px;
    position: relative;
    line-height: 1.7;
}

.n-info-txt > li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6em;
    width: 3px;
    height: 3px;
    background: #777777;
    border-radius: 100%;
}


.n-qa-write-pop .qa-btn-area {
    text-align: center;
    font-size: 0;
}

.n-check:checked + label:before, .n-radio:checked + label:before {
    background-color: #A0BF6B;
    border-color: #A0BF6B;
}


.site-wrap {
    margin: 0 auto;
    width: 600px;
    padding: 20px 10px;
}

textarea:focus ,.n-input:focus{
    border-color: #A0BF6B !important;
}

.n-input::placeholder, textarea::placeholder {
	color:rgb(158, 158, 158);
}

.dbtiv {
    text-align: center;
    font-size: 0;
    padding: 30px 0 20px;
}

.n-btn.btn-lighter {
    font-weight: bold;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    color: #6b6b6b;
}

.n-btn {
    margin: 0 3px;
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 36px;
    box-sizing: border-box;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

.i-btn.btn-lighter {
    font-weight: bold;
    border: 1px solid #A0BF6B;
    background-color: #A0BF6B;
    color: white;
}

.i-btn {
    margin: 0 3px;
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 36px;
    box-sizing: border-box;
    padding: 2px 30px 0 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}