<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">

	<th:block layout:fragment="css">

		<link rel="stylesheet" href="/css/cart.css">
		
	</th:block>
	
	<div class="container_custom">
	
	<div class="right_contents">
			<h2 class="title-page">C A R T<span class="cart_sp"> 장 바 구 니 </span></h2>
			<!--cart process-->
			<div class="page-sorting order font-mss" th:if="${cartList.size() != 0}">
				<span class="current-page">장바구니</span>
				<span><i class="ic-14-line-arrow-right"></i></span>
				<span>주문서</span>
				<span><i class="ic-14-line-arrow-right"></i></span>
				<span>주문 완료</span>
			</div>
			<!--//cart process-->
		</div>
		
	<th:block th:if="${cartList.size() == 0}">
		<div class="null_box">
						 장바구니에 등록된 상품이 없습니다.
		</div>
	</th:block>
	<th:block th:if="${cartList.size() != 0}">
		
				
				
	<div class="section_contents">
				<table class="table_basic cart_table n-cart-table">
					<colgroup>
						<col width="6%">
						<col width="4%">
						<col width="25%">
						<col width="5%">
						<col width="8%">
						<col width="11%">
						<col width="7%">
						<col width="9%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">전체<strong th:if="${cartList.size() == 0}"></strong><strong th:if="${cartList.size() != 0}">[[${cartList.size()}]]개</strong>
							</th>
							<th scope="col" style="cursor:pointer"><input type="checkbox" class="chk_all" id="chk_all" th:checked="true" title="전체 상품 선택"></th>
							<th scope="col">상품명</th>
							<th scope="col">판매가</th>
							<th scope="col">할인금액</th>
							<th scope="col">수량</th>
							<th scope="col">주문금액</th>
							<th scope="col">주문관리</th>
						</tr>
					</thead>
					<tbody>
					<th:block th:each="cart , status:${cartList}">	
					<input type="hidden" th:value="${cart.itemId}" name="ids">
					<input type="hidden" th:value="${cart.itemNm}" name="itemNms">
					<input type="hidden" th:value="${cart.price}" name="prices">
					<input type="hidden" th:value="${cart.imgUrl}" name="imgUrls">
					<input type="hidden" th:value="${cart.sale}" name="sales">
					<tr class="cart-group">
							<td colspan="9" class="cart_cont">
								<table class="table_basic cart_table">
									<colgroup>
										<col width="6%">
										<col width="4%">
										<col width="25%">
										<col width="5%">
										<col width="8%">
										<col width="11%">
										<col width="7%">
										<col width="9%">
									</colgroup>
									<tbody>
									<tr class="cart_list_no" th:attr="data-cart-status=${cart.itemSellStatus}">
										<td>[[${status.index+1}]]</td>
										<td th:if="${cart.itemSellStatus.toString} == 'SELL'">
											<input type="checkbox" class="checked_cart" th:value="${cart.cartId}" 
											 th:attr="data-cart-id=${cart.cartId}, data-cart-status=${cart.itemSellStatus} , data-item-id=${cart.itemId} ,
											 data-item-nm=${cart.itemNm} , data-item-price=${cart.price} , data-item-url=${cart.imgUrl} , data-item-sale=${cart.sale}"  th:checked="true"  title="상품 선택">
										</td>
										<td th:if="${cart.itemSellStatus.toString} == 'SOLD_OUT'">
											<input type="checkbox" class="checked_cart" th:value="${cart.cartId}"
											th:attr="data-cart-id=${cart.cartId}, data-cart-status=${cart.itemSellStatus} , data-item-id=${cart.itemId} ,
											 data-item-nm=${cart.itemNm} , data-item-price=${cart.price} , data-item-url=${cart.imgUrl} , data-item-sale=${cart.sale}"  th:checked="false"  title="상품 선택">
										</td>
										<td>
											<div class="connect_img">
												<a class="img-block" th:href="'/item/' + ${cart.itemId}">
                                                    <img th:src="${cart.imgUrl}" alt="">
												</a>																																					
											</div>
											<div class="article_info connect_info">
												<p class="list_info ">
													<a th:href="'/item/' + ${cart.itemId}">
														[[${cart.itemNm}]]
													</a>
												</p>
												<p class="txt_option" th:if="${cart.stockNumber >= 20}">
													남은재고 : 20개 이상
												</p>
												<p class="txt_option" th:if="${cart.stockNumber > 1 and cart.stockNumber < 20}" th:text="'남은재고: ' + ${cart.stockNumber} + '개'">
												</p>
												<p class="txt_option"  th:if="${cart.itemSellStatus.toString} == 'SOLD_OUT'">
													현재 품절입니다
												</p>
												
											</div>
										</td>
										<td class="td_price">
											<div class="td_price_wrap ori_price_so"
											th:attr="data-cart-id=${cart.cartId} , data-ori-unit-price=${cart.price}">
											[[${#numbers.formatInteger(cart.price * cart.count , 0, 'COMMA')}]]원
										</div>
										
										</td>
                                        <td class="sale_price_so"
   										 th:attr="data-cart-id=${cart.cartId}, data-sale-unit-price=${cart.price * cart.sale / 100}">
  										  [[${#numbers.formatInteger((cart.price * cart.sale / 100) * cart.count, 0, 'COMMA')}]]원
										</td>
                                     
                                            
										<td>
											<span class="goods_qty" th:if="${cart.itemSellStatus.toString} == 'SELL'">
         								  <span>
           											   <button type="button" class="down goods_cnt" title="감소" th:attr="data-cart-id=${cart.cartId}">감소</button>
             											 <input type="text" class="text goodsCnt_0" title="수량"  name="conuts"
             											 th:value="${cart.count}" th:attr="data-cart-stock=${cart.stockNumber}, data-cart-id=${cart.cartId} , data-item-id=${cart.itemId}" >
            											 <button type="button" class="up goods_cnt" title="증가" th:attr="data-cart-id=${cart.cartId}">증가</button>
         								  </span>
       									 </span>	
											<span class="goods_qty" th:if="${cart.itemSellStatus.toString} == 'SOLD_OUT'">
         								  <span>
           											   <button type="button" class="down goods_cnt click_disable" title="감소">감소</button>
             											 <input type="text" class="text goodsCnt_0 click_disable" title="수량" 
             											 th:value="${cart.count}" th:attr="data-cart-stock=${cart.stockNumber}, data-cart-id=${cart.cartId} , data-item-id=${cart.itemId}">
            											 <button type="button" class="up goods_cnt click_disable" title="증가">증가</button>
         								  </span>
       									 </span>	
										</td>
										<td class="total_price_so" th:attr="data-cart-id=${cart.cartId}">
											[[${#numbers.formatInteger((cart.price - (cart.price * cart.sale / 100)) * cart.count , 0, 'COMMA')}]]원
										</td>
										<td>
							<button onclick="cartCountUpdate_button(this)" th:if="${cart.itemSellStatus.toString} == 'SELL'"
							th:attr="data-cart-id=${cart.cartId}" class="plain-btn btn">수량변경</button>
							<button th:if="${cart.itemSellStatus.toString} == 'SOLD_OUT'"
							 th:attr="data-item-id=${cart.itemId}" class="plain-btn btn" onclick="showPopup(this);">문의하기</button>
							<button onclick="cartDelete_button(this)" th:attr="data-cart-id=${cart.cartId}" class="plain-btn btn mt-2">삭제하기</button>
										</td>
									</tr>
							</tbody>
								</table>
							</td>
						</tr>
						</th:block>
						
				</tbody>
				</table>
				<div class="delete-btn-area">
					 <button id="del_chk_soldout" onclick="cartDelete_soldout_checkBok()" class="plain-btn btn">품절모두삭제</button> 
					<button id="del_chk" onclick="cartDelete_checkBok()" class="plain-btn btn">선택삭제</button>
				</div>
			
	
		
		
		
	</div>
		 <div class="final_box">
					<ul class="final-payment">
					<li>
						<p class="final-payment-ti">상품 금액</p>
						<p class="final-payment-price">
							<input type="hidden" class="cart_normal_price" value="307400">
							<span class="cart_normal_add_opt_price" id="ori_price"></span><span class="pay_won">원</span>
						</p>
					</li>
					<li class="final-payment-ic">
						<i class="ic-18-line-plus"></i>
					</li>
					<li>
						<p class="final-payment-ti">배송비</p>
						<p class="final-payment-price">
							<input type="hidden" class="cart_normal_price" value="307400">
							<span class="cart_normal_add_opt_price" id="delevery_price"></span><span class="pay_won">원</span>
						</p>
					</li>
					<li class="final-payment-ic">
						<i class="ic-18-line-minus"></i>
					</li>
					<li>
						<p class="final-payment-ti">할인 합계</p>
						<input type="hidden" class="cart_total_save" value="40650">
						<p class="final-payment-price"><span class="cart_total_add_opt_save" id="sale_price"></span><span class="pay_won">원</span></p>
					</li>
					<li class="final-payment-ic">
						<i class="ic-18-line-handle"></i>
					</li>
					<li>
						<p class="final-payment-ti">최종 결제 금액</p>
						<p class="final-payment-price"><span id="final_price" class="total_pay"></span><span class="pay_won">원</span></p>
						<p class="final-payment-save"><span id="total_dc_rate">[[${totalDc}]]</span>% SAVE</p>
					</li>
				</ul>
				
				
				<div class="n-btn-group n-btn-order">
					<button type="button" class="n-btn btn-lg btn-accent" id="btn-order" onclick=cartOrder();>주문하기
					</button>
				</div>
				<input type="hidden" id="selectedItems" name="selectedItems">
		</div>
		
	</th:block>	
		
		
			</div>
	
	
</div>


<th:block layout:fragment="script">
	<script th:src="@{/js/cart/cart.js}"></script>
</th:block>	

</body>

</html>