<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
		type="text/css" />
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
		type="text/css" />
	<link rel="stylesheet" th:href="@{/css/nice-select.css}"
		type="text/css" />
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"
		type="text/css" />
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/myPage.css}" type="text/css" />

	<style>
.recipeList {
	display: flex !important;
	margin-top: 20px;
	margin-bottom: 50px;
	flex-direction: column !important;
	align-items: nomal !important;
	margin-bottom: 50px;
}

.recipeList-th {
	font-size: 14px;
	font-weight: 600;
}

.cursor {
	cursor: pointer;
}

.navbar {
	padding: 0;
}
</style>

</th:block>
<div layout:fragment="content" class="layout">






	<!-- Hero Search Section Begin -->

	<div class="container_custom"
		style="overflow: hidden; position: relative; display: flex; flex-direction: column;">

		<div
			style="background-image: url(/img/search-bg.jpg); height: 250px; background-repeat: no-repeat; background-size: cover; background-position: top center; display: flex; flex-direction: column-reverse;background-color: #b7b7b7;"
			class="">
			<div
				style="gap: 20px; display: flex; flex-direction: row; justify-content: flex-end; margin-bottom: -5px;">
				<p>
					<span
						style="font-weight: 500; color: rgb(255, 255, 255); margin-right: 4px;">팔로워</span><span
						th:text="${follower}"
						style="font-weight: 700; font-size: 13px; line-height: 21px; color: rgb(255, 255, 255);"></span>
				</p>
				<div style="gap: 20px; display: flex; margin-right: 27px;">
					<p>
						<span
							style="font-weight: 500; color: rgb(255, 255, 255); margin-right: 4px;">팔로잉</span><span
							th:text="${following}"
							style="font-weight: 700; font-size: 13px; line-height: 21px; color: rgb(255, 255, 255);"></span>
					</p>
				</div>
			</div>
			<div
				th:style="'position: absolute; left: 50%; bottom: 21%; transform: translateX(-50%); width: 150px; height: 150px; background-color: #ffffff; border-radius: 50%; border: 3px solid #e9ecef; background-image: url(' + ${myPageDto.imgUrl}  + '); background-size: cover; background-position: center;'"></div>
		</div>
		<div class=""
			style="display: flex; justify-content: flex-end; align-items: center; flex-direction: column; top: 18px; border-bottom: 1px solid #ddd; height: 120px;">
			<div style="">
				<h4 th:text="${myPageDto.nickname}" style="font-weight: 700">짱구님</h4>
			</div>
			<div style="">
				<p th:text="${myPageDto.introduce}">소개</p>
			</div>
		</div>

	</div>
	<!-- Hero Search Section End -->

	<!-- Contact Section Begin -->

	<section class="contact-section spad">
		<div class="container_custom" style="display: flex">
			<div class="col-3">
				<div class="col-lg-12">
					<div>
						<p
							style="display: flex; justify-content: center; font-size: 20px; font-weight: 600; padding-bottom: 12px; padding-top: 15px; border-bottom: 1px solid #ddd;">
							MY PAGE</p>
					</div>
					<div class="list-group list-group-light"
						style="padding-bottom: 40px;">

						<div style=" text-align: center;">
							<a onclick="showContent('recipe')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="recipe">
								레시피</a> 
							<a onclick="showContent('order')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="order">
								상품 주문내역</a> 
							<a onclick="showContent('favorite')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="favorite">
								찜한 레시피</a> 
							<a onclick="showContent('comments')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="comments">
								댓글</a> 
							<a onclick="showContent('reviews')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="reviews">
								요리후기</a>
							<a onclick="showContent('edit')"
								class="list-group-item list-group-item-action list-group-item-light mypage-list"
								style="font-size: 14px; cursor: pointer" data-menu="edit">
								회원 정보 수정</a> 
							<a th:value="${myPageDto.id}"
								th:onclick="deleteMember([[${myPageDto.id}]])"
								style="font-size: 14px; cursor: pointer"
								class="list-group-item list-group-item-action list-group-item-light mypage-list">회원탈퇴</a>
						</div>

					</div>
				</div>
			</div>
			<div class="col-9" id="content">
				<div id="recipe" class="content" style="display: none;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div style="display: flex; align-items: center">
							<a onclick="filterRecipes('PUBLISHED')" data-menu="PUBLISHED"
								class="list-group-item list-group-item-action list-group-item-light mypage-top active cursor">
								공개중</a> <a onclick="filterRecipes('DRAFT')" data-menu="DRAFT"
								class="list-group-item list-group-item-action list-group-item-light mypage-top cursor">
								작성중</a>
						</div>
						<div
							style="display: flex; flex-direction: row; align-items: center">

						</div>
					</div>
					<div class="mypage-content" th:if="${!recipeList.isEmpty()}">
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| RECIPE |</p>
							<p style="font-size: 15px; font-weight: 500;">레시피 목록</p>
						</div>
						<div
							style="display: flex; justify-content: flex-end; margin-top: 45px;">
							<button type="submit"
								style="width: 110px; height: 36px; display: flex; align-items: center; justify-content: center; margin-top: 4px; background-color: #808000bd; color: #fff; font-size: 14px; border: none;"
								class="btn btn-outline-danger">레시피등록</button>
						</div>

						<table style="border-bottom: 1px solid #dee2e6; margin-top: 15px;">
							<tbody>
								<tr style="height: 45px; background-color: #f9fbf7;">

									<th class="col-7 recipeList-th" style="text-align: center;">레시피</th>
									<th class="col-2 recipeList-th" style="text-align: center;">조회수</th>
									<th class="col-1 recipeList-th" style="text-align: center;">찜</th>
									<th class="col-2 recipeList-th" style="text-align: center;">수정/삭제</th>
								</tr>

								<tr class="recipe1"
									th:data-writing-status="${recipe.writingStatus}"
									th:each="recipe : ${recipeList}"
									style="border-bottom: 1px solid #dee2e6;">

									<th class="col-7"
										style="text-align: center; margin-left: 0; padding: 0;">
										<div
											style="display: flex; flex-direction: row; align-items: center;">

											<img th:src="${recipe.imageUrl}"
												style="min-width: 150px !important; height: 145px !important; width: 150px;">
											<div style="width: 100%;">
												<p th:text="${recipe.title}"
													style="font-size: 17px; font-weight: 600; margin-bottom: 0;"></p>

												<p th:text="${recipe.subTitle}"
													style="font-size: 14px; font-weight: 600;"></p>
												<p th:text="'#'+${recipe.intro}"
													style="font-size: 14px; font-weight: 600;"></p>
											</div>
										</div>

									</th>
									<th class="col-2" style="text-align: center;"><p
											th:text="${recipe.count}"></p></th>
									<th class="col-1" style="text-align: center;">
										<P th:text="${recipe.bookmarkCount}"></P>
									</th>
									<th class="col-2" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">
											<button type="submit"
												style="width: 75px; height: 33px; display: flex; align-items: center; justify-content: center;"
												class="btn btn-outline-danger">수정</button>
											<button type="submit"
												th:onclick="'deleteRecipe(' + ${recipe.id} + ')'"
												style="width: 75px; height: 33px; display: flex; align-items: center; justify-content: center; margin-top: 4px;"
												class="btn btn-outline-danger">삭제</button>
										</div>
									</th>

								</tr>



							</tbody>
						</table>

					</div>
					<div class="mypage-content" th:if="${recipeList.isEmpty()}"
						style="align-items: center;">

						<img class="mypage-content-logo" src="/img/test1.png" />
						<div
							style="display: flex; flex-direction: column; align-items: center">
							<p style="font-size: 24px; font-weight: 800; margin-bottom: 5px">레시피를
								직접 올려보세요!</p>
							<p style="font-size: 15px; font-weight: 500">자랑하고 싶은 나만의 레시피!
								공유하고 싶은 멋진 레시피를 올려 주세요.</p>
							<br>
							<button type="submit" class="btn btn-outline-danger"
								style="width: 110px; height: 36px; display: flex; align-items: center; justify-content: center; margin-top: 4px; background-color: #808000bd; color: #fff; font-size: 14px; border: none;">레시피
								등록</button>
						</div>

					</div>
				</div>
				
				
				<div id="order" class="content" style="display: none;">
					<div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div style="display: flex; flex-direction: row; align-items: center; min-height: 55px;">
						</div>
					</div>
					<section class="CheckoutProductsSectionstyle__Section-ervfp1-0 hwurrN">
					<div class="dLBPEv" id="item_info">
						
					
				<table class="table_basic cart_table n-cart-table">
					<colgroup>
						<col width="25%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="12%">
						
					</colgroup>
					<thead>
						<tr>
							<th scope="col">주문 번호</th>
							<th scope="col">주문 날짜</th>
							<th scope="col">주문 금액</th>
							<th scope="col">주문 상태</th>
							<th scope="col">주문 관리</th>
							
						</tr>
					</thead>
					<tbody>
					 	
					<tr class="cart-group">
							<td colspan="9" class="cart_cont">
								<table class="table_basic cart_table">
									<colgroup>
										<col width="25%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="12%">
									</colgroup>
									<tbody>
									<tr class="cart_list_no">
										<td class="td_price">
											<a class="td_price_wrap ori_price_so" href="#" title="상세보기">
											8920025661-2729766811
										</a>
										</td>
										<td>
											2023.09.26
										</td>
										<td>
											35,000원
										</td>
                                        <td class="order_stat">
  										  주문 완료
										</td>
										<td>
							<button onclick="cartCountUpdate_button(this)" class="plain-btn btn" data-cart-id="52">배송조회</button>
										</td>
								
									</tr>
							</tbody>
								</table>
							</td>
						</tr>
						
						
				</tbody>
				
				</table>
				</div>
				</section>
				
				</div>
				
				<div id="order" class="content">
					<div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div style="display: flex; flex-direction: row; align-items: center; min-height: 55px;">
						</div>
					</div>
					<div class="section_contents">
						<div class="order_detail_title">
						<header>
						<p>주문 상세 내역</p>
						<button onclick="" class="delete-btn" >주문내역삭제</button>
						</header>
						<p class="content_p">
						<span class="title_span">주문 번호</span><span> 8920025661-2729766811</span>
						<span class="title_span">주문일자</span><span>2023.09.26 16:00</span>
						</p>
						</div>
						<section class="hwurrN">
						<header id="item_hide">
						<p>주문 상품<span></span>1 건</p>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 19 18">
							<path stroke="#000" d="m14.953 6.469-5.07 5.062L4.828 6.47"></path>
						</svg>
					</header>
					<div class="dLBPEv" id="item_info">
				<table class="table_basic cart_table n-cart-table">
					<colgroup>
						<col width="8%">
						<col width="30%">
						<col width="10%">
						<col width="10%">
						<col width="8%">
						<col width="10%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">NO.</th>
							<th scope="col">상품명</th>
							<th scope="col">판매가</th>
							<th scope="col">할인금액</th>
							<th scope="col">수량</th>
							<th scope="col">주문금액</th>
							
						</tr>
					</thead>
					<tbody>
					 	
					<tr class="cart-group">
							<td colspan="9" class="cart_cont">
								<table class="table_basic cart_table">
									<colgroup>
										<col width="8%">
										<col width="30%">
										<col width="10%">
										<col width="10%">
										<col width="8%">
										<col width="10%">
									</colgroup>
									<tbody>
									<tr class="order_tetail_list_no">
										<td>
											1
										</td>
										<td>
											<div class="connect_img">
												<a class="img-block" href="/item/1">
                                                    <img src="/img/쭈꾸미1.jpg" alt="이름">
												</a>																																					
											</div>
											<div class="article_info connect_info">
												<p class="list_info">
													<a href="/item/1" class="itemNm">이름</a>
												</p>
											</div>
										</td>
										<td>
											35,000원
										</td>
                                        <td>
  										  15,000원
										</td>
                                        <td>
  										  1개
										</td>
										<td>
											20,000원
										</td>
								
									</tr>
							</tbody>
								</table>
							</td>
						</tr>
						
						
				</tbody>
				
				</table>
				</div>
				</section>
				<section class="delivery">
				<header id="delivery_hide">
				<p>배송 정보</p>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 19 18">
							<path stroke="#000" d="m14.953 6.469-5.07 5.062L4.828 6.47"></path>
						</svg>
				</header>
				<div class="delivery_div" id="delivery_info">
				<p>이름</p><p>김민규</p>
				<p>연락처</p><p>010-7128-0150</p>
				<p>배송지 주소</p><p>인천 연수구 먼우금로 299 5동 308호</p>
				<p>배송 메세지</p><p>배송 메세지가 없습니다.</p>
				</div>
			
				</section>
				<section class="pay">
				<header>
				<p>결제 정보</p>
				<strong>125<span class="pay_won">원</span></strong>
				</header>
				<div class="d-flex">
				<div class="flex_w_f">
				<div class="pay_div_info">
				<p><span>결제 유형</span><span>이름</span></p>
				<p><span>결제 방식</span><span>이름</span></p>
				<p><span>카드 정보</span><span>이름</span></p>
				<p><span>카드 번호</span><span>이름</span></p>
				</div>
				</div>
				<div class="flex_w_s">
				<div class="pay_div_total">
				<p>총 상품금액</p><p>20,000<span class="pay_won">원</span></p>
				<p>배송비</p><p>0<span class="pay_won">원</span></p>
				<p>총 할인금액</p><p>15,000<span class="pay_won">원</span></p>
				<p>포인트 사용</p><p>0<span class="pay_won">P</span></p>
				</div>
				</div>
				</div>
			
				</section>
				</div>
				
				</div>
				
				
				<!-- 찜 목록  -->
				<div id="favorite" class="content" style="display: none;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div style="display: flex; align-items: center"></div>
						<div
							style="display: flex; flex-direction: row; align-items: center; min-height: 49px;">

						</div>
					</div>
					<div class="mypage-content" th:if="${!bookmarkList.isEmpty()}">
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| BOOKMARK |</p>
							<p style="font-size: 15px; font-weight: 500;">찜레시피 목록</p>
						</div>

						<table style="border-bottom: 1px solid #dee2e6; margin-top: 30px;">
							<tbody style="display: flex; flex-direction: column;">
								<tr
									style="height: 45px; background-color: #f9fbf7; display: flex; align-items: center;">

									<th class="col-7 recipeList-th" style="text-align: center;">레시피</th>
									<th class="col-2 recipeList-th" style="text-align: center;"></th>
									<th class="col-2 recipeList-th" style="text-align: center;">작성자</th>
									<th class="col-1 recipeList-th" style="text-align: center;">찜</th>
								</tr>

								<tr class="" th:each="bookmark : ${bookmarkList}"
									style="display: flex; align-items: center; margin-bottom: 10px;">

									<th class="col-7"
										style="text-align: center; margin-left: 0; padding: 0;">
										<div
											style="display: flex; flex-direction: row; align-items: center;">

											<img th:src="${bookmark.recipeId.imageUrl}"
												style="width: 150px; height: 145px;">
											<div style="width: 100%;">
												<p th:text="${bookmark.recipeId.title}"
													style="font-size: 17px; font-weight: 600; margin-bottom: 0;"></p>

												<p th:text="${bookmark.recipeId.subTitle}"
													style="font-size: 14px; font-weight: 600;"></p>
												<p th:text="'#'+${bookmark.Id.intro}"
													style="font-size: 14px; font-weight: 600;"></p>
											</div>
										</div>

									</th>
									<th class="col-2" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">

										</div>
									</th>
									<th class="col-2"
										style="display: flex; flex-direction: column; align-items: center;">
										<div th:style="'width: 60px; height: 60px;border: 3px solid #dddddd; border-radius: 50%;margin-top: 23px;background-image: url(' + ${bookmark.recipeId.member.imgUrl}  + ');background-size: cover; background-position: center;'"></div>
										<p style="margin-top: 2px; margin-bottom: 25px; background: #f9fbf7; padding: 0px 10px 0 10px;">현서</p>

									</th>
									<th class="col-1" style="text-align: center;"><img
										src="/img/favorite.png"
										th:onclick="deleteBookmark([[${bookmark.bookmark.id}]], this)"
										data-action="delete"
										style="cursor: pointer; width: 30px; height: 30px; margin-bottom: 15px;"></th>

								</tr>



							</tbody>
						</table>
					</div>


					<div class="mypage-content" th:if="${bookmarkList.isEmpty()}"
						style="align-items: center;">
						<img class="mypage-content-logo" src="/img/test2.png" />
						<div
							style="display: flex; flex-direction: column; align-items: center">
							<p style="font-size: 24px; font-weight: 800; margin-bottom: 5px">
								찜한 레시피가 없습니다.</p>
							<p style="font-size: 15px; font-weight: 500">관심있는 레시피를
								추가해보세요.</p>
						</div>
					</div>
				</div>

				<!-- 댓글 목록  -->
				<div id="comments" class="content" style="display: none;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div
							style="display: flex; flex-direction: row; align-items: center; min-height: 49px;">
	
						</div>
					</div>
					<div class="mypage-content" th:if="${!myCommentList.isEmpty()}">
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| COMMENT |</p>
							<p style="font-size: 15px; font-weight: 500;">댓글목록</p>
						</div>

						<table style="border-bottom: 1px solid #dee2e6; margin-top: 30px;">
							<tbody style="display: flex; flex-direction: column;">
								<tr
									style="height: 45px; background-color: #f9fbf7; display: flex; align-items: center;">

									<th class="col-1 recipeList-th" style="text-align: center;">번호</th>
									<th class="col-6 recipeList-th" style="text-align: center;">내용</th>

									<th class="col-3 recipeList-th" style="text-align: center;">등록일</th>
									<th class="col-2 recipeList-th" style="text-align: center;">삭제</th>
								</tr>

								<tr class="" th:each="comments : ${myCommentList}"
									style="display: flex; align-items: center; margin-bottom: 10px;">
									<th class="col-1" style="text-align: center;"><p
											th:text="${comments.comment.id}"></th>
									<th class="col-6"
										style="text-align: center; margin-left: 0; padding: 0;">
										<div
											style="display: flex; flex-direction: row; align-items: center;">


											<div
												style="width: 100%; display: flex; flex-direction: column; margin-left: 15px;">
												<p th:text="${comments.recipeId.title}"
													style="margin-bottom: 0; color: #888; font-size: 14px; font-weight: 600;"></p>

												<p th:text="${comments.comment.content}"
													style="font-weight: 600; color: #5a5a5a; font-size: 15px;"></p>

											</div>
										</div>

									</th>

									<th class="col-3"
										style="display: flex; flex-direction: column; align-items: center;">
										<div>
											<p th:text="${comments.regTime}"></p>
										</div>


									</th>
									<th class="col-2" style="text-align: center;">
										<button type="submit"
											th:onclick="'deleteComment(' + ${comments.comment.id} + ')'"
											style="width: 75px; height: 33px; display: flex; align-items: center; justify-content: center; margin-top: 4px;"
											class="btn btn-outline-danger">삭제</button>
									</th>

								</tr>



							</tbody>
						</table>
					</div>
					<div class="mypage-content" th:if="${myCommentList.isEmpty()}"
						style="align-items: center;">
						<img class="mypage-content-logo" src="/img/test3.svg" />
						<div
							style="display: flex; flex-direction: column; align-items: center">
							<p style="font-size: 24px; font-weight: 800; margin-bottom: 5px">
								받은 댓글이 없습니다.</p>
							<p style="font-size: 15px; font-weight: 500">질문이나 의견이 달리면 답글을
								남겨주세요. 요리가 어려운 분들께 큰 도움이 됩니다.</p>
						</div>
					</div>
				</div>


				<!--요리후기 목록  -->
				<div id="reviews" class="content" style="display: none;">
					<div
						style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #ddd;">
						<div style="display: flex; align-items: center">
							<a onclick="toggleReviews('myReviewList')"
								class="list-group-item list-group-item-action list-group-item-light mypage-top cursor my active">
								내가쓴후기</a> <a onclick="toggleReviews('receivedReviewList')"
								class="list-group-item list-group-item-action list-group-item-light mypage-top cursor you">
								받은후기</a>
						</div>
						<div
							style="display: flex; flex-direction: row; align-items: center; min-height: 49px;">

						</div>
					</div>
					<div class="mypage-content" id="myReviewList"
						th:if="${myReviewList != Null}">
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| REVIEW |</p>
							<p style="font-size: 15px; font-weight: 500;">레시피 후기 목록</p>
						</div>

						<table style="border-bottom: 1px solid #dee2e6; margin-top: 30px;">
							<tbody style="display: flex; flex-direction: column;">
								<tr
									style="height: 45px; background-color: #f9fbf7; display: flex; align-items: center;">

									<th class="col-7 recipeList-th" style="text-align: center;">레시피
										후기</th>
									<th class="col-2 recipeList-th" style="text-align: center;">별점</th>
									<th class="col-2 recipeList-th" style="text-align: center;">작성일</th>
									<th class="col-1 recipeList-th" style="text-align: center;">수정/삭제</th>
								</tr>

								<tr class="mytr" th:each="reviews : ${myReviewList}"
									style="display: flex; align-items: center; margin-top: 10px;">

									<th class="col-7"
										style="text-align: center; margin-left: 0; padding: 0;">
										<div
											style="display: flex; flex-direction: row; align-items: flex-start;">

											<img th:src="${reviews.recipeId.imageUrl}"
												style="width: 150px; height: 145px;">
											<div
												style="width: 100%; display: flex; flex-direction: column; margin-left: 20px; align-items: flex-start; margin-top: 8px;">
												<p
													th:text="${reviews.recipeId.title} + '/' + ${reviews.recipeId.subTitle} + '(' + ${reviews.recipeId.member.nickname} + ')'"
													style="font-size: 14px; font-weight: 600; margin-bottom: 0; color: #9d9d9d;"></p>

												<p th:text="${reviews.review.content}"
													style="font-size: 13px; font-weight: 600; margin-top: 13px;"></p>
											</div>
										</div>

									</th>
									<th class="col-2" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">

											<p th:if="${reviews.review.rating == 1}">
												<img src="/img/5.png" style="width: 100%;">
											</p>
											<p th:if="${reviews.review.rating == 2}">
												<img src="/img/6.png" style="width: 100%;">
											</p>
											<p th:if="${reviews.review.rating == 3}">
												<img src="/img/7.png" style="width: 100%;">
											</p>
											<p th:if="${reviews.review.rating == 4}">
												<img src="/img/8.png" style="width: 100%;">
											</p>
											<p th:if="${reviews.review.rating == 5}">
												<img src="/img/9.png" style="width: 100%;">
											</p>
										</div>
									</th>
									<th class="col-2"
										style="display: flex; flex-direction: column; align-items: center;">

										<p th:text="${reviews.regTime}"
											style="margin-top: 2px; margin-bottom: 25px;"></p>

									</th>
									<th class="col-1" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">
											<button type="submit"
												style="width: 70px; height: 33px; display: flex; align-items: center; justify-content: center;"
												class="btn btn-outline-danger">수정</button>
											<button type="submit"
												th:onclick="'deleteReview(' + ${reviews.review.id} + ')'"
												style="width: 70px; height: 33px; display: flex; align-items: center; justify-content: center; margin-top: 4px;"
												class="btn btn-outline-danger">삭제</button>
										</div>
									</th>

								</tr>



							</tbody>
						</table>
					</div>
					<div class="mypage-content" id="myReviewListIsEmpty"
						style="align-items: center;">
						<img class="mypage-content-logo" src="/img/test4.svg" />
						<div
							style="display: flex; flex-direction: column; align-items: center">
							<p style="font-size: 24px; font-weight: 800; margin-bottom: 5px">직접
								요리해보셨나요? 요리후기를 올려주세요 !</p>
							<p style="font-size: 15px; font-weight: 500">받은 후기가 없습니다.</p>
						</div>


					</div>


					<div class="mypage-content" id="receivedReviewList">
						<div
							style="display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| REVIEW |</p>
							<p style="font-size: 15px; font-weight: 500;">레시피 후기 목록</p>
						</div>
						<table style="border-bottom: 1px solid #dee2e6; margin-top: 30px;">
							<tbody style="display: flex; flex-direction: column;">
								<tr
									style="height: 45px; background-color: #f9fbf7; display: flex; align-items: center;">

									<th class="col-7 recipeList-th" style="text-align: center;">레시피
										후기</th>
									<th class="col-2 recipeList-th" style="text-align: center;">별점</th>
									<th class="col-2 recipeList-th" style="text-align: center;">작성일</th>
									<th class="col-1 recipeList-th" style="text-align: center;">수정/삭제</th>
								</tr>

								<tr class="receivedtr" th:each="review : ${receivedReviewList}"
									style="display: flex; align-items: center; margin-top: 10px;">

									<th class="col-7"
										style="text-align: center; margin-left: 0; padding: 0;">
										<div
											style="display: flex; flex-direction: row; align-items: flex-start;">

											<img th:src="${review.recipeId.imageUrl}"
												style="width: 150px; height: 145px;">
											<div
												style="width: 100%; display: flex; flex-direction: column; margin-left: 20px; align-items: flex-start; margin-top: 8px;">
												<p
													th:text="${review.recipeId.title} + '/' + ${review.recipeId.subTitle} + '(' + ${review.recipeId.member.nickname} + ')'"
													style="font-size: 14px; font-weight: 600; margin-bottom: 0; color: #9d9d9d;"></p>

												<p th:text="${review.review.content}"
													style="font-size: 13px; font-weight: 600; margin-top: 13px;"></p>
											</div>
										</div>

									</th>
									<th class="col-2" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">

											<p th:if="${review.review.rating == 1}">
												<img src="/img/5.png" style="width: 100%;">
											</p>
											<p th:if="${review.review.rating == 2}">
												<img src="/img/6.png" style="width: 100%;">
											</p>
											<p th:if="${review.review.rating == 3}">
												<img src="/img/7.png" style="width: 100%;">
											</p>
											<p th:if="${review.review.rating == 4}">
												<img src="/img/8.png" style="width: 100%;">
											</p>
											<p th:if="${review.review.rating == 5}">
												<img src="/img/9.png" style="width: 100%;">
											</p>
										</div>
									</th>
									<th class="col-2"
										style="display: flex; flex-direction: column; align-items: center;">

										<p th:text="${review.regTime}"
											style="margin-top: 2px; margin-bottom: 25px;"></p>

									</th>
									<th class="col-1" style="text-align: center;">
										<div
											style="display: flex; flex-direction: column; align-items: center;">
											<button type="submit"
												style="width: 70px; height: 33px; display: flex; align-items: center; justify-content: center;"
												class="btn btn-outline-danger">수정</button>
											<button type="submit"
												th:onclick="'deleteReview(' + ${review.review.id} + ')'"
												style="width: 70px; height: 33px; display: flex; align-items: center; justify-content: center; margin-top: 4px;"
												class="btn btn-outline-danger">삭제</button>
										</div>
									</th>

								</tr>



							</tbody>
						</table>

					</div>

					<div class="mypage-content" id="receivedReviewListIsEmpty"
						style="align-items: center;">
						<img class="mypage-content-logo" src="/img/test4.svg"
							style="margin-bottom: 0px !important;" />
						<div
							style="display: flex; flex-direction: column; align-items: center">
							<p style="font-size: 24px; font-weight: 800; margin-bottom: 5px">받은
								후기가 없습니다</p>
							<p style="font-size: 15px; font-weight: 500">더 많은 레시피를 등록해보세요
								!</p>
						</div>


					</div>
				</div>


				<div id="edit" class="content" style="display: none;">
					<div>
						<div
							style="border-bottom: 1px solid #dee2e6; display: flex; flex-direction: column; align-items: center;">
							<p style="font-size: 28px; font-weight: 500;">| EDIT PROFILE
								|</p>
							<p style="font-size: 15px; font-weight: 500;">회원정보 수정</p>
						</div>

					</div>

					<fieldset>
						<form style="margin-left: 20px;" role="form"
							th:action="@{'/myPage/' + ${myPageDto.id}}" method="post"
							enctype="multipart/form-data" name="memberForm"
							th:object="${myPageDto}">



							<div style="margin-top: 30px;">
								<p class="col-form-label mt-4">프로필 사진
								<p />
								<div>
									<label id="imagePreviewLabel" for="fileInput"
										class="upload-icon"
										th:style="'background-image: url(' + ${myPageDto.imgUrl} +')'">

										<div class="circle">

											<svg class="fas fa-cloud-upload-alt"
												xmlns="http://www.w3.org/2000/svg" height="1em"
												viewBox="0 0 512 512">! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.
												<path
													d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z" /></svg>
										</div>
									</label> <input onchange="updateImagePreview(event);"
										class="form-control" type="file" id="fileInput" name="imgFile"
										style="display: none;">
								</div>
								<div class="form-group">
									<label class="col-form-label mt-4" for="nickname">닉네임</label> <input
										th:field="${myPageDto.nickname}" type="text"
										placeholder="사용하실 닉네임을 2~8자 사이로 입력해주세요" maxlength="8"
										class="form-control" id="nickname" style="width: 315px;">
								</div>




								<div class="form-group">
									<label class="col-form-label mt-4" for="inputDefault"><font
										style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">한줄소개</font></font></label> <input
										style="width: 600px;" type="text" class="form-control"
										placeholder="한줄소개를 등록해주세요" id="inputDefault"
										th:field="${myPageDto.introduce}">
								</div>



								<div class="form-group">
									<label for="exampleInputEmail1" class="form-label mt-4">이메일</label>
									<input style="width: 315px;" th:field="${myPageDto.email}"
										type="email" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" readonly> <small
										id="emailHelp" class="form-text text-muted">이메일은 변경이
										불가합니다.</small>
								</div>





								<div class="form-group">
									<label for="exampleInputEmail1" class="form-label mt-4">휴대폰번호</label>
									<input style="width: 315px;"
										th:field="${myPageDto.phoneNumber}" type="text"
										class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" oninput="oninputPhone(this)"
										maxlength="14"> <small>(-)를 제외한 숫자만 입력해주세요</small>
								</div>



							</div>
							<div class="form-group">
								<label for="exampleTextarea" class="col-form-label mt-4">주소</label>

								<br> <input type="text" id="sample6_postcode"
									placeholder="우편번호" th:field="${myPageDto.postCode}"> <input
									type="button" onclick="sample6_execDaumPostcode()"
									value="우편번호 찾기"><br> <input
									style="width: 315px; margin-top: 13px;" class="form-control"
									type="text" id="sample6_address" placeholder="주소"
									th:field="${myPageDto.address}"> <input
									style="width: 315px; margin-top: 13px;" class="form-control"
									type="text" id="sample6_detailAddress" placeholder="상세주소"
									th:field="${myPageDto.detailAddress}"> <input
									class="form-control" type="text" id="sample6_extraAddress"
									placeholder="참고항목" style="display: none;">
							</div>
							<div
								style="display: flex; flex-direction: column; align-items: center; margin-top: 115px;">
								<button type="submit" class="btn btn-outline-danger"
									style="width: 168px; height: 43px; display: flex; align-items: center; justify-content: center; background-color: #808000bd; color: #fff; font-size: 16px; margin-bottom: 15px; border: none;">회원정보
									수정</button>
								<a th:value="${myPageDto.id}"
									th:onclick="deleteMember([[${myPageDto.id}]])"
									style="border-bottom: 1px solid; cursor: pointer;">회원탈퇴</a>
							</div>
						</form>
					</fieldset>

				</div>
			</div>
		</div>

	</section>


	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here....." />
			</form>
		</div>
	</div>
</div>


<!-- Search model end -->
<th:block layout:fragment="script">
	<script th:src="@{/js/myPage.js}"></script>
	<script th:inline="javascript">
		
	</script>
</th:block>


</body>

</html>