<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>	
	<div layout:fragment="content">
	<th:block layout:fragment="css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	</th:block>
	<div class="main_box pb-5">
		<section class="RecipeListstyle__Section-sc-1s9b4ly-1 gIeeQD" th:if="${headerBestList.size() != 0 }">
			<div class="styles__Title-sc-1ui0xdi-3 rQShB"><h1>RECIPES FOR YOU</h1><h2>맞춤추천 레시피를 둘러보세요.</h2></div>
			<div class="h_line"></div>
			<div class="RecipeListstyle__CardList-sc-1s9b4ly-2 bNkAnv">
				<div class="RecipeListstyle__Card-sc-1s9b4ly-5 bHqDkK">
					<a href="#">
						<img src="https://static.wtable.co.kr/image/production/service/recipe/471/62e517be-ca18-4c2a-8bc9-d9bb94965c42.jpg?size=800x800" th:alt="${headerBestList.get(0).title}" class="RecipeListstyle__CardImage-sc-1s9b4ly-14 iNbIQd">
						<div class="RecipeListstyle__CardGredient-sc-1s9b4ly-3 hUapsG"></div>
						<div class="RecipeListstyle__CardMeta-sc-1s9b4ly-6 iFMKeY">
							<p class="RecipeListstyle__CardSubTitle-sc-1s9b4ly-7 hwxlrw">[[${headerBestList.get(0).subTitle}]]</p><p class="RecipeListstyle__CardTitle-sc-1s9b4ly-12 eMHKwY">[[${headerBestList.get(0).title}]]</p>
							</div>
					</a>
				</div>
			<div class="RecipeListstyle__CardSm-sc-1s9b4ly-9 bSdIJY">
				<a href="#">
					<img src="https://static.wtable.co.kr/image/production/service/recipe/1430/0f4ee459-9c66-4d5a-9770-69c5af9f4d4c.jpg?size=500x500" th:alt="${headerBestList.get(1).title}" class="RecipeListstyle__CardImage-sc-1s9b4ly-14 RecipeListstyle__CardMdImage-sc-1s9b4ly-15 gZeRDV">
					<div class="RecipeListstyle__CardSmGredient-sc-1s9b4ly-4 eDwCCr gredient"></div>
					<div class="RecipeListstyle__CardSmMeta-sc-1s9b4ly-10 dHZATN">
						<div class="RecipeListstyle__CardSmSubTitle-sc-1s9b4ly-11 cgGeDp">[[${headerBestList.get(1).title}]]</div>
					</div>
				</a>
			</div>
			<div class="RecipeListstyle__CardSm-sc-1s9b4ly-9 bSdIJY">
				<a href="#">
					<img src="https://static.wtable.co.kr/image/production/service/recipe/1689/503d97ac-7b2d-4696-aebd-8f694949dd40.jpg?size=500x500" th:alt="${headerBestList.get(2).title}" class="RecipeListstyle__CardImage-sc-1s9b4ly-14 RecipeListstyle__CardMdImage-sc-1s9b4ly-15 gZeRDV">
				<div class="RecipeListstyle__CardSmGredient-sc-1s9b4ly-4 eDwCCr gredient"></div>
			<div class="RecipeListstyle__CardSmMeta-sc-1s9b4ly-10 dHZATN">
				<div class="RecipeListstyle__CardSmSubTitle-sc-1s9b4ly-11 cgGeDp">[[${headerBestList.get(2).title}]]</div>
			</div>
			</a>
			</div>
			<div class="RecipeListstyle__Card-sc-1s9b4ly-5 bHqDkK">
				<a href="#"><img src="https://static.wtable.co.kr/image/production/service/recipe/170/88f14bd3-d922-4d67-8c38-1dcf9fee27bc.jpg?size=800x800" th:alt="${headerBestList.get(3).title}" class="RecipeListstyle__CardImage-sc-1s9b4ly-14 RecipeListstyle__CardMdImage-sc-1s9b4ly-15 gZeRDV">
				<div class="RecipeListstyle__CardGredient-sc-1s9b4ly-3 hUapsG"></div>
				<div class="RecipeListstyle__CardMdMeta-sc-1s9b4ly-8 jZZqhz">
					<p class="RecipeListstyle__CardSubTitle-sc-1s9b4ly-7 hwxlrw">[[${headerBestList.get(3).subTitle}]]</p><p class="RecipeListstyle__CardTitle-sc-1s9b4ly-12 eMHKwY">[[${headerBestList.get(3).title}]]</p>
				</div>
				</a>
				</div>
				</div>
				</section>
		
		
          

	</div>
	
	<div class="container" th:if="${mainNewList.size() != 0 }">
			<div class="best_recipe_box">
				
				<h2 class="def_title">신규 레시피 
	<a href="/category?type=order" class="fr">더보기 ></a>
	</h2>
	<div class="best_recipe_slider slider-wrap rec_list">
	 
	<th:block th:each=" n_r , status:${mainNewList}">
		
    <div class="slider-items">
		
      <div class="item item-related-book">
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" th:alt="${n_r.title}"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">[[${n_r.title}]]</a>
			</h4>
		</div>
		<div class="common_sp_caption_rv_name d-flex ">
                <a th:href="'/profile/' + ${n_r.memberId}" style="display: inline-block; vertical-align: bottom;">
					<img src="/img/free-icon-member-5867267.png">
					민규민규</a>
				<span class="count_s" th:text="'조회수 : ' + ${#numbers.formatInteger(n_r.count, 0, 'COMMA')}">
				</span>
            </div>
		</div>
		  </div>
	  </div>
	</div>
	</th:block>
    </div>
			</div>
			
			
			
			
		
		
		</div>
		<div class="best_b1" th:if="${mainBestList.size() != 0 }">
			<div class="best_b2"> 
				
		<div class="best_recipe_box">
				
				<h2 class="def_title">BEST 레시피 
	<a href="/category?type=reviewCount" class="fr">더보기 ></a>
	</h2>
	<div class="best_recipe_slider slider-wrap rec_list">
	 
	<th:block th:each=" n_b , status:${mainBestList}">
		
    <div class="slider-items">
		
      <div class="item item-related-book">
		  <div class="collection-item book">
		  <div class="item-cover">
				<a href="/">
		  <img src="img/recipe-1.jpg" th:alt="${n_b.title}"  class="item-cover-image">
				</a>
		  </div>
		    <div class="item-meta">
		<div class="item-title">
			<h4>
				<a href="/" tabindex="0">[[${n_b.title}]]</a>
			</h4>
		</div>
		<div class="common_sp_caption_rv_name d-flex ">
                <a th:href="'/profile/' + ${n_b.memberId}" style="display: inline-block; vertical-align: bottom;">
					<img src="/img/free-icon-member-5867267.png">
					민규민규</a>
            </div>
				<div class="RecipeItemstyle__Time-sc-1gt7vz8-6 kKXboO mx_1">
						<i class="fa-solid fa-star fa-xs" title="평점"></i>
						<span class="RecipeItemstyle__SummaryText-sc-1gt7vz8-5 MiXMV">
							[[${n_b.retingAvg}]]([[${n_b.reviewCount}]])</span>
						<span class="count_s" title="조회수">조회수 : 5,000</span>

					</div>
		</div>
		  </div>
	  </div>
	</div>
	</th:block>
    </div>
			</div>
			</div>
			
		</div>
			
		<div class="container" th:if="${rankMemberList.size() != 0}">	
			<div class="main_box main_hit">
			<h2 class="def_title">베스트 쉐프!</h2>
			<ul class="clr ul_l">
				
				<th:block th:each="bestMember , status:${rankMemberList}">
							<li class="rec_list" style="display:flex">
					<div class="num">[[${status.index+1}]]</div>
					<a th:href="'/profile/' + ${bestMember.id}" class="clr">
						<div class="img_box">
							<img src="img/장어덮밥.jpg" alt="등록된 이미지가 없습니다">
							</div>
						<div class="text_box">
							<p class="s_title">자개소개 칸</p>
							<p class="b_title" title="배추김치">[[${bestMember.nickname}]]</p>
						</div>
					</a>
					
					
						<a class="like" onclick="followOk(this)" th:attr="data-member-id=${bestMember.id}"  title="팔로우"> <i class="fa-solid fa-heart follow"></i>  </a>
				</li>
				</th:block>
								
							</ul>
			<a href="javascript:more_recipe();" class="more more_rec">더보기</a>
		</div>	
	</div>
	
	</div>
	
	<th:block layout:fragment="script">
 
<!-- Slick 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	<script>
	$(document).ready(function(){
		  $('.banner_slider').slick({    
		    infinite: true ,      // 무한반복
		     slidesToShow: 1,     // 보여지는 슬라이드 개수
		     slidesToScroll: 1,   // 넘어가는 슬라이드 개수
		     dots: true           // 점 네비게이션 표시
		    // arrows: false,        화살표 표시
		    // fade:true             페이드 효과
		    // autoplay: true,       자동스크롤
		    // autoplaySpeed: 4000   자동스크롤 속도
		    /* 반응형
		    responsive: [
		      {
		        breakpoint: 1024,
		        settings: {
		          slidesToShow: 3,
		          slidesToScroll: 3,
		          infinite: true,
		          dots: true
		        }
		      },
		      {
		        breakpoint: 600,
		        settings: {
		          slidesToShow: 2,
		          slidesToScroll: 2
		        }
		      },
		      {
		        breakpoint: 480,
		        settings: {
		          slidesToShow: 1,
		          slidesToScroll: 1
		        }
		      }
		    ]
		    */
		  });
		});
       
	$(document).ready(function(){
		  $('.best_recipe_slider').slick({    
		    infinite: false ,      // 무한반복
		     slidesToShow: 5,     // 보여지는 슬라이드 개수
		     slidesToScroll: 1,   // 넘어가는 슬라이드 개수
		     dots: false           // 점 네비게이션 표시
		    // arrows: false,        화살표 표시
		    // fade:true             페이드 효과
		    // autoplay: true,       자동스크롤
		    // autoplaySpeed: 4000   자동스크롤 속도
		    /* 반응형
		    responsive: [
		      {
		        breakpoint: 1024,
		        settings: {
		          slidesToShow: 3,
		          slidesToScroll: 3,
		          infinite: true,
		          dots: true
		        }
		      },
		      {
		        breakpoint: 600,
		        settings: {
		          slidesToShow: 2,
		          slidesToScroll: 2
		        }
		      },
		      {
		        breakpoint: 480,
		        settings: {
		          slidesToShow: 1,
		          slidesToScroll: 1
		        }
		      }
		    ]
		    */
		  });
		});
	
let isExpanded = false;  // 현재 상태를 저장하는 변수

function more_recipe() {
  const ulElement = document.querySelector('.ul_l');
  const recListElements = ulElement.querySelectorAll('.rec_list');
  const moreRecButton = document.querySelector('.more_rec');

  // 현재 상태에 따라 처리
  if (isExpanded) {
    recListElements.forEach((el, index) => {
      if (index >= 8) { // 9번째 엘리먼트부터 적용
        el.style.display = 'none';
      }
    });
    moreRecButton.textContent = '더보기';  // 텍스트를 '더보기'로 변경
  } else {
    recListElements.forEach((el, index) => {
      if (index >= 8) { // 9번째 엘리먼트부터 적용
        el.style.display = 'flex';
      }
    });
    moreRecButton.textContent = '닫기';  // 텍스트를 '닫기'로 변경
  }

  // 상태 전환
  isExpanded = !isExpanded;
}
 
 function followOk(element) {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
			var url = '/followReq' ;
			var Id = element.getAttribute("data-member-id");
			paramData = {id : Id}; 

  			// 아이디가 없을 경우 함수를 빠져나감
  			if (!Id) {
   				 alert("에러 입니다");
   				 return;
  				}
			
			
					
					var param = JSON.stringify(paramData);
					
					$.ajax({
						url : url, //request URL
						type : "POST", //전송방식
						contentType : "application/json",
						data : param, //서버에 전송할 데이터
						beforeSend : function(xhr) {
							//데이터를 전송하기전에 헤더에 csrf 값을 설정
							xhr.setRequestHeader(header, token);
						},
						dataType : "text",
						cache : false,
						success : function(result, status, jqXHR) {
							 alert(jqXHR.responseText);
							 window.location.reload(true); 
							
						},
						error : function(jqXHR, status, error) {
							if (confirm(jqXHR.responseText)) {
							    location.href = "/members/login";
							}
							if (jqXHR.status == '401') {
								alert('관리자로그인 후 이용해주세요.');
								//	location.href = '/';
							} else {
							}
						}
					})

		}	
 
 	
          
    </script>
	
	
	</th:block>
	
	
</html>